DATABASE_URL="file:./fuelpulse_example.db"
DATABASE_AUTH_TOKEN="notarealtoken"

AUSTRALIA_NSW_FUEL_API_KEY="notarealtoken"
AUSTRALIA_NSW_FUEL_SECRET="notarealtoken"

QSTASH_CURRENT_SIGNING_KEY="notarealtoken"
QSTASH_NEXT_SIGNING_KEY="notarealtoken"

NEXT_PUBLIC_VERCEL_GIT_COMMIT_SHA="5ad7ba8ec7bea4129399812388408672946db73d"